h1,
h4 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 2% 0% 2% 0%;
    color: #000;
}

.container {
    padding: 3.5% 0% 5% 0%;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 50%;
    background-position: center;
    background-color: rgb(221, 140, 221);
}

.bg {
    background-color: purple;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.row {
    padding-top: 2%;
}

a img {
    margin-left: 5%;
}

.head {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 4rem;
    font-weight: 600;
    padding: 3% 0% 3% 0%;
}

.list-student {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding-top: 2%;
}

.list-student:hover {
    opacity: 0.5;
}

.info img {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.row.container {
    border-style: solid none solid none;
    padding: 7% 7% 7% 7%;
}